version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      test:
        patterns: ["pytest*"]
      semver-patch:
        update-types: ["patch"]
    ignore:
      - dependency-name: "ruff"
        versions: ["*"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
