# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ruff_cache/

# Distributions / config
dist/
poetry.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode workspace
.vscode/

# Commit info file
acme_bot/version_info/commit.txt
