[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"

[packages]
acme-bot = {editable = true,path = "."}
discord-py = {extras = ["voice"],version = "*"}
textx = "*"
youtube-dl = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
