name: Build Docker image

on:
  workflow_call:
    inputs:
      tags:
        type: string
  workflow_dispatch:

jobs:
  build-python-wheel:
    uses: ./.github/workflows/wheel_build.yml
    if: inputs.tags == ''

  build-and-push:
    runs-on: ubuntu-latest
    needs: build-python-wheel
    if: ${{ always() }}
    concurrency:
      group: docker-buildx-${{ github.ref_name }}
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: python-wheel

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          tags: ${{ inputs.tags || format('ghcr.io/kmolski/acme-bot:{0}', github.ref_name) }}
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
