name: Build Python wheel

on:
  pull_request:
  push:
    branches: ["master"]
  workflow_call:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: nix develop --command bash {0}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 100
          fetch-tags: true

      - uses: nixbuild/nix-quick-install-action@v34
      - uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ hashFiles('**/flake.lock') }}

      - name: Cache venv dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.local
            ~/.cache/pypoetry/virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Install Python dependencies
        run: poetry install --no-interaction

      - name: Check formatting with ruff
        run: ruff format --check

      - name: Lint with ruff
        run: ruff check

      - name: Run tests with pytest
        run: poetry run pytest test/

      - name: Build Python wheel
        run: poetry build --no-interaction

      - name: Generate remote API schema
        run: poetry run docs/gen/remote_api_schema.py >remote_api.json

      - uses: actions/upload-artifact@v6
        with:
          name: python-wheel
          path: |
            dist/*.whl
            remote_api.json
